/* CSS Starts here... */

/* Tag or Element CSS */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* body{
    display: grid;
    justify-content: center;
    align-content: center;
}

.projectContainer{
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
} */

/* Class CSS */
.titleDes {
    text-align: center;
    margin: 1rem;
}

.projectImg {
    width: 15rem;
    border-radius: .5rem;
    margin: 5%;
}

.footer {
    text-align: center;
    margin-top: 5rem;
}

/* Media queries */

